@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply font-lufgaMedium text-[55px]
}

h2 {
  @apply font-lufgaMedium text-[45px]
}

h3 {
  @apply font-lufgaMedium text-[35px]
}

h4 {
  @apply font-lufgaRegular text-[35px]
}

h5 {
  @apply font-lufgaRegular text-[25px]
}

h6 {
  @apply font-lufgaRegular text-[15px]
}

p {
  @apply font-lufgaMedium text-[15px] text-border
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --muted: 245.71 100% 95.88%;
    --muted-foreground: 246.99 100% 79.8%;
    --popover: 245.45 100% 97.84%;
    --popover-foreground: 224 71.43% 4.12%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --border: 240 4.44% 82.35%;
    --input: 240 6.67% 94.12%;
    --primary: 248.91 70.33% 64.31%;
    --primary-foreground: 210 20% 98%;
    --secondary: 246.67 100% 85.88%;
    --secondary-foreground: 220.9 39.3% 11%;
    --accent: 246.67 100% 85.88%;
    --accent-foreground: 220.9 39.3% 11%;
    --success: 126.59 50% 32.16%;
    --success-foreground: 122.86 67.74% 93.92%;
    --destructive: 0 79.28% 56.47%;
    --destructive-foreground: 0 100% 96.08%;
    --warning: 35.19 95.18% 51.18%;
    --ring: 248.91 70.33% 64.31%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 5.56% 7.06%;
    --foreground: 210 20% 98%;
    --muted: 240 5.56% 14.12%;
    --muted-foreground: 240 3.7% 21.18%;
    --popover: 240 5.56% 14.12%;
    --popover-foreground: 210 20% 98%;
    --card: 240 5.56% 7.06%;
    --card-foreground: 210 20% 98.04%;
    --border: 240 4.17% 28.24%;
    --input: 240 3.7% 21.18%;
    --primary: 248.91 70.33% 64.31%;
    --primary-foreground: 210 20% 98%;
    --secondary: 246.67 100% 85.88%;
    --secondary-foreground: 210 20% 98%;
    --accent: 246.67 100% 85.88%;
    --accent-foreground: 220.9 39.3% 11%;
    --success: 126.59 50% 32.16%;
    --success-foreground: 122.86 67.74% 93.92%;
    --destructive: 0 79.28% 56.47%;
    --destructive-foreground: 0 100% 96.08%;
    --warning: 35.19 95.18% 51.18%;
    --ring: 248.91 70.33% 64.31%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
